<h2><strong><%= header_name %></strong><small> (全<%= products.total_count %>件)</small></h2>
<div class="d-flex flex-wrap">
  <% products.each do |product| %>
    <div class="my-3 mx-2">
      <%= link_to public_product_path(product.id) do %>
        <%= attachment_image_tag product, :image, :fill, 180, 120 %>
      <% end %>
      <div class="mt-2">
        <%= link_to public_product_path(product.id) do %>
          <strong><%= product.name %><br></strong>
        <% end %>
        <strong>¥<%= product.tax_in_price %></strong>
      </div>
    </div>
  <% end %>
</div>