<div class="container mt-5">
  <div class="row">
    <!--ジャンル検索窓のテンプレート-->
    <%= render 'public/products/category', categories: @categories %>
    <div class="col-md-9">
      <h2><strong><%= @category_name %>一覧</strong><small> (全<%= @products.count %>件)</small></h2>
        <%= render 'index', products: @products %>
        <%= paginate @products %>
      </div>
    </div>
  </div>
</div>