<div class="container mt-5">
  <div class="row">
    <%= render 'public/products/category', categories: @categories %>
    <div class="col-md-4">
      <div class="image-box">
        <%= attachment_image_tag @product, :image, size:"290x180" %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="discription-box">
        <h4><%= @product.name %></h4>
        <div class="w-auto h-50"><%= @product.discription %></div>
        <span><strong>￥ <%= @product.tax_in_price %></strong> (税込)</span>
      </div>
      <%= form_with model: @cart_item, url: {controller: 'public/cart_items', action: 'create' }, class:"form-inline" do |f| %>
        <%= f.hidden_field :product_id, value: @product.id %>
        <%= f.select :quantity, *[1..3], prompt: "個数選択" %>
        <%= f.submit "カートに入れる", class:"btn btn-success ml-4" %>
      <% end %>
    </div>
  </div>
</div>

