<div class="container mt-3">
  <div class="row">
    <%= render 'public/products/category',categories: @categories %>
    <div class="col-9">
      <div id="main_visual" class="d-flex justify-content-center" style="height:300px;width:600px">
        <p class="d-flex align-items-center">
          ようこそ、ながのCAKEへ！<br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない方も商品の閲覧はできますが、<br>
          購入には会員登録が必要になります。<br>
        </p>
      </div>
      <div id="new_products">
        <h3>新着商品</h3>
        <div class="d-flex">
          <% @products.each do |product| %>
            <div id="product_content">
              <%= attachment_image_tag product, :image, :fill, 200, 100, class:"mx-1" %>
              <div class="mt-2">
                <%= product.name %><br>
                ¥<%= product.price %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="text-right">
        <%= link_to "全ての商品を見る >", public_products_path %>
      </div>
    </div>
  </div>
</div>