<!DOCTYPE html>
<html>
  <head>
    <title>Naganocake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="col-3">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav d-flex flex-wrap small">
                  <%= render "layouts/admin_signed" %>
                </ul>
              </div>
            </div>
            
            <div class="col-6 text-center">
              <%= link_to "Nagano Cake", public_root_path, class:"navbar-brand outfit-100" %>
            </div>
            
            <div class="col-3">
            <form class="d-flex">
              <input class="form-control" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-secondaryml-2" type="submit">Search</button>
            </form>
              
            </div>
          </div>
      </nav>
    </header>
    <%= yield %>
    <footer class="text-center my-3">
      ©︎DMM WEB CAMP - team.kamoniku
    </footer>
  </body>
</html>
