<div class="container mt-3">
  <div class="row">
    <div class="col-10 mx-auto">
      <% if @model == 'product' %>
        <h3 class="mb-3">"<%= @keyword %>" を含む商品の検索結果</h3>
        <%= render 'admin/products/index', products: @products %>
      <% elsif @model == 'order' %>
        <h3 class="mb-3">"<%= @keyword %>" を含む注文の検索結果</h3>
        <%= render 'admin/orders/index', orders: @orders %>
      <% elsif @model == 'customer' %>
        <h3 class="mb-3">"<%= @keyword %>" を含む顧客の検索結果</h3>
        <%= render 'admin/customers/index', customers: @customers %>
      <% end %>
    </div>
  </div>
</div>