<div class="container mt-4">
  <div class="d-flex justify-content-between mb-3">
    <h3>
      ショッピングカート
    </h3>
  </div>
  <!-- カートの更新時、メッセージ表示 -->
  <p class="ml-4" style="color:green;"><%= flash[:notice] %></p>
  <div class="row justify-content-around">
    <div class="col-7">
      <table class="table border-bottom">
        <thead>
          <th>商品名</th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>小計</th>
          <th></th>
        </thead>
        <tbody>
          <% @cart_items.each do |cart_item| %>
            <tr>
              <td>
                <%= attachment_image_tag cart_item.product, :image, size:"80x60" %>
                <strong class="ml-2"><%= cart_item.product.name %></strong>
              </td>
              <td class="align-middle"><%= cart_item.product.tax_in_price %></td>
              <td class="align-middle">
                <%= form_with(model: @cart_items, url:public_cart_item_path(cart_item.id), method: :patch, class:"form-inline") do |f| %>
                  <%= f.select :quantity, *[1..10], selected: "#{cart_item.quantity}" %>
                  <%= f.submit "変更する", class:"btn btn-light btn-sm ml-3" %>
                <% end %>
              </td>
              <td class="align-middle">
                <%= cart_item.subtotal.to_s(:delimited) %>
              </td>
              <td class="align-middle text-center">
                <%= link_to public_cart_item_path(cart_item.id), method: :delete do %>
                  <i class="fas fa-trash-alt"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-3">
      <div class="card text-right bg-light">
        <div class="card-body">
          <div class="card-title">
            <h4><%= "合計金額   ¥#{@total_price.to_s(:delimited)}" %></h4>
          </div>
          <div>
            <%= link_to "情報入力に進む", new_public_order_path, class:"btn btn-dark btn-sm" %>
          </div>
        </div>
      </div>
      <div class="text-right mt-2">
        <%= link_to "買い物を続ける", public_root_path %><br>
        <%= link_to "カートを空にする", public_cart_items_path, method: :delete %>
      </div>
    </div>
  </div>

</div>