<table class="table border-bottom">
  <thead class="thead-light">
    <tr>
      <th width="10%">商品ID</th>
      <th width="30%">商品名</th>
      <th width="10%">税抜価格</th>
      <th width="30%">ジャンル</th>
      <th width="20%">ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% products.each do |product| %>
      <tr>
        <th><%= product.id %></th>
        <td>
          <%= link_to admin_product_path(product) do %>
            <%= product.name %>
          <% end %>
        </td>
        <td><%= product.price.to_s(:delimited) %></td>
        <td><%= product.category.name %></td>
        <% if product.is_sold %>
          <td class="text-success font-weight-bold">販売中</td>
        <% else %>
          <td class="text-muted font-weight-bold">販売停止中</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate products %>