<!DOCTYPE html>
<html>
  <head>
    <title>Naganocake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <%= link_to public_root_path, class:"navbar-brand" do %>
           <img>
          <% end %>
          <ul class="navbar-nav">
            <li class="navitem">
              hoge
            </li>
            <li class="navitem">
              hoge
            </li>
            <li class="navitem">
              hoge
            </li>
            <li class="navitem">
              hoge
            </li>
          </ul>
        </div>
      </nav>
      
    </header>
    <%= yield %>
    <footer></footer>
  </body>
</html>
