<!DOCTYPE html>
<html>
  <head>
    <title>Naganocake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <%= link_to "Nagano_cake", public_root_path, class:"navbar-brand" %>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse flex-column" id="navbarNav">
            <ul class="navbar-nav ml-auto mb-2">
              <% if admin_signed_in? %>
                <%= render "layouts/admin_signed" %>
              <% elsif customer_signed_in? %>
                <%= render "layouts/customer_signed" %>
              <% else %>
                <%= render 'layouts/no_signed' %>
              <% end %>
            </ul>
            <form class="d-flex ml-auto">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-secondary ml-2" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>      
    </header>
    <%= yield %>
    <footer></footer>
  </body>
</html>
